.mobile-nav-items {
    display: none;
}
.footer-reservd-text{
    width: 70%;
}

@media screen and (max-width: 500px) {
    .deskop-nav-items {
        display: none !important;
    }

    .mobile-nav-items {
        display: block;
    }

    .footer-reservd-text{
        width: 85vw;
        text-align: left;
    }
}