@keyframes slideDown {
    0% {
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.side-bar {
    background-color: white;
    width: 100vw !important;
    height: 100vh !important;
    left: -90vw;
    position: absolute;
    top: 0;
    left: 0;
    animation: slideDown 1s linear;
}

.filter-card-mobile {
    display: none;
}

.fiter-card-wrraper {
    scrollbar-width: thin; 
    scrollbar-color: #F83002 #f1f1f1; 
  }

@media screen and (max-width: 500px) {
    .filter-card-desktop {
        display: none;
    }

    .filter-card-mobile {
        display: block;
    }

    .side-bar {

       position: fixed;
       left: 0;
       top: 0;
       bottom: 0;
       height: 100vh;
       width: 100vw;
       z-index: 1000;
        .lucid-close-icon {
            position: absolute;
            top: 10px;
            right: 10px;

            &:hover {
                background-color: red;
                color: white;
                border-radius: 2px;
                transition: 0.2s linear;
            }
        }

    }

    .mobie-view-jobs {
        display: flex !important;
        flex-direction: column !important;
    }
}